.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1000;
  }
  
  .matrix-text {
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  